 <!---------
<div class="container">
    <div class="row">
      <ng-container *ngFor="let item of list">
        <div class="col-4 my-3" *ngIf="item.show">
          <h5>{{ item.title }}</h5>
          <div>
           
          </div>
          <button
            class="btn btn-outline-secondary"
            (click)="showDetailsModal(item)"
          >
            Show Details
          </button>
        </div>
      </ng-container>
    </div>
  </div>
---------->
<div style="padding-right: 1000px;">
 Home Service On demand
  <input type="text" placeholder="search for a services"> 
</div>
<br>

<img src="assets/images/black1.jpg" style="height: 100%; width: 100%;" > 
<img src="assets/images/homepageimage.jpg" style="height: 100%; width: 100%;" > 
<img src="assets/images/home.jpg" style="height: 100%; width: 100%;" >





